Source: nflynntest
Section: misc
Priority: extra
Maintainer: root <root@repo01.admin.zen.net.uk>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.8.4
Homepage: <http://www.eper.net>
#Vcs-Git: git://git.debian.org/collab-maint/nflynntest.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/nflynntest.git;a=summary

Package: nflynntest
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
